
.tittle-section{
    text-align: center;
    padding-top: 50px;
    letter-spacing: 1px;
    font-size: 30px;
}

.about-title{
    padding-top: 40px;
    padding-left: 40px;
}

.about{
    text-align: justify;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}